.choice{        
    margin: 10px 10px 10px 10px;           
}
.choice-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.choice-subtext{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.node-choice body{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid green;
    overflow: auto; 
}